.page {
  display: flex;
  justify-content: center;
  background-color: var(--background-gray-3);
}

.page main, 
.page aside {
  margin-top: 1rem;
  padding-top: 1rem;
}

.page main {
  max-width: var(--content-width);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.page main img {
  max-width: 300px;
}

.page aside {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
}
