.wrapper {
    max-width: var(--content-width);
    text-align: center;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form h2,
.wrapper form .inputWrapper,
.wrapper form .submitWrapper {
    padding: 1rem;
}

.wrapper form .submitWrapper .rememberme {
    display: flex;
    margin-bottom: 1rem;
}

.wrapper form .submitWrapper .rememberme p {
    margin-left: 10px;
    display: flex;
    align-items: center;
}