.mod {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.mod:hover {
  transform: scale(1.01);
}

.hWrapper {
  border-radius: 5px 5px 0 0;
  padding: 1rem;
  color: var(--font-gray-dark-0);
  min-height: 70px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.imgWrapper img {
  border-radius: 0 0 5px 5px;
}

.hWrapper {
  background-color: white;
}

.imgWrapper img {
  object-fit: contain;
}
